<!DOCTYPE html>
<html lang="en">
<head>
	<title>JSPS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../prediction/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../prediction/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../prediction/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../prediction/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=".//prediction/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../prediction/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../prediction/css/util.css">
	<link rel="stylesheet" type="text/css" href="../prediction/css/main.css">
<!--===============================================================================================-->

</head>
<body>

	<div class="bg-contact2" style="background-image: url('prediction/images/cover.jpg');">
		<div class="container-contact2">
			<div class="wrap-contact2">
                <h2 align="center">Your Salary is : <%= message %> baht</h2>
                <br><br>
					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<a href="/"><button class="contact2-form-btn">
								Prediction Again
							</button></a>							
						</div>
					</div>
                </form>                
			</div>
		</div>		
	</div>

	

	


<!--===============================================================================================-->
	<script src="../prediction/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../prediction/vendor/bootstrap/js/popper.js"></script>
	<script src="../prediction/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../prediction/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../prediction/js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>

</body>
</html>
